<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</head>
<body>
<h1>Computers</h1>
<form>
    <button id="1" >1</button>
    <button id="2">2</button>
    <button id="3">3</button>
    <div>
     <label>CPU Speed</label><span id="CPU">:click a button to load</span>
    </div>
    <div>
        <label>Ram amount</label><span id="Ram">:click a button to load</span>
    </div>
    <div>
    <label>Storage space</label><span id="Storage">:click a button to load</span>
    </div>
    <div>
        <label>Price</label><span id="Price">:click a button to load</span>
    </div>
</form>

</body>
</html>