<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Please login</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Enter a name to login:</h1>
        <form action="login" method="post">
            <input name="name"/>
            <input type="submit"/>
        </form>
    </body>
</html>