<!DOCTYPE html>
<html lang='en'>
 <head>
 <meta charset="utf-8">
 <title>Form</title>
 <link  href="/css/<%= cssStyle %>" rel="stylesheet" />
 </head>
 <body>
    <form action="/result" method="post">Name <input name="name"> Age <input name="age"><button type="submit">Submit Query</button></form>
 </body>
</html>