<!DOCTYPE html>
<html lang="en">
<head>
    <title>Party Planner</title>
    <meta charset="utif-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/addProd.js"></script>
</head>
<body>
<h1>Mae's beauty store</h1>