<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W4D1 - Q2</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
    
    <form action="/add" method="post">
        <input type="text" name="item"/>
        <input type="submit"/>
    </form>

</body>
</html>