<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W4D1 - Q2</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
    
   <ul>
    <% for(var i=0; i<list.length; i++) {%>
        <li><%=list[i]%></li>
    <% } %>
   </ul>
   <a href="/add">add</a>

</body>
</html>