@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

body{
    background:url("../images/cover.png");
    background-color: #BEBFC1;
    font-family: 'Crete Round', serif;
    background-position: top;
    background-repeat: no-repeat;
    padding:0;
    margin:0;
    padding-bottom:300px;
}
.scrollMessage{
    text-align: center;
    color:#fff;
    
}
section{
    padding-left:27%;
    padding-right:25%;
    padding-top:10%;
}

.profilePhoto{
    border-radius:50%;
    width:200px;
    height:auto;
    border:7px solid #000;
}

a{
    color:#000;
}
h1{
    font-size:30px;
}

footer{
    color:#fff;
    background-color: #000;
    position: fixed;
    bottom:0;
    left:0;
    padding-top:20px;
    padding-bottom:20px;
    width:100%;
    text-align: center;
}

footer a{
    color:#fff;
    
}
