<h2>
    shop cart
</h2>
<div>
<% map1.forEach((value, key, map) =>{ %>
        <% if(value>0){ let totalPrice = key.price*value %>
            <h4><%=value%> <%=key.name%> total price is $<%=totalPrice%></h4>
        <% } %>
<%}); %>

</div>
<a href="/">continue shopping</a>