<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W3D5 - Q3 Form</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
    
    <form action="/result" method="POST">
        <label for="name">
            Name
            <input type="text" name="name" id="name">
        </label>
        <label for="age">
            Age
            <input type="text" name="age" id="age">
        </label>

        <button type="submit">Submit Query</button>
    </form>

</body>
</html>